<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ============================= -->
  <!--      BASE OF YANDEX ROVER     -->
  <!-- ============================= -->


<xacro:macro name="base">

    <link name="base_footprint"/>

    <link name="base_link">
      <visual>
        <geometry>
          <!-- <box size="1.2 0.6 0.5"/> -->
          <mesh filename="file://$(find ya_rover_description)/meshes/wheels/base_orig.dae" scale="1.0 1.0 1.0"/>
        </geometry>
        <origin xyz="0.0 -0.07 -0.5" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.9 1.7 1.0"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1.0" iyy="1.0" izz="1.0" ixy="0.0" ixz="0.0" iyz="0.0"/>
      </inertial>
      </link>

     <joint name="base_link_joint" type="fixed">
            <origin xyz="0.0 0.0 ${0.1/2 + 0.1}" rpy="0.0 0.0 0.0"/>
            <parent link="base_footprint"/>
            <child link="base_link"/>
    </joint>
</xacro:macro>
</robot>
