<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ============================= -->
  <!--    COLORS FOR YANDEX ROVER    -->
  <!-- ============================= -->

  <material name="color_gray">
    <color rgba="0.6 0.6 0.6 1.0"/>
  </material>

  <material name="color_black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <material name="color_blue">
    <color rgba="0.0 0.2 1.0 1.0"/>
  </material>

  <material name="color_red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>

</robot>
