<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="wheel_radius" value="0.1"/>
    <xacro:property name="wheel_length" value="0.1"/>
    <xacro:property name="wheel_mass" value="3.0"/>
    <xacro:macro name="wheel" params="prefix parent *origin">

        <link name="${prefix}_wheel_link">
            <visual>
                <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${wheel_mass}"/>
                <inertia ixx="${(3*wheel_radius**2+wheel_length**2)*wheel_mass*1/12}" ixy="0.0" ixz="0.0"
                        iyy="${(3*wheel_radius**2+wheel_length**2)*wheel_mass*1/12}" iyz="0.0"
                        izz="${(wheel_mass*wheel_radius**2)*1/2}"/>
            </inertial> 
        </link>

        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="${parent}"/>
            <child link="${prefix}_wheel_link"/>
            <axis xyz="0 1 0"/>
            <dynamics damping="0.2"/>

            <xacro:insert_block name="origin"/>
        </joint>

    </xacro:macro>
</robot>