<?xml version="1.0"?>
<robot name="twike" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="robot_name" default="twike"/>
    <xacro:arg name="robot_namespace" default="$(arg robot_name)"/>
    <xacro:include filename="$(find twike_description)/urdf/components/base/base.urdf.xacro" />
    <xacro:include filename="$(find twike_description)/urdf/components/wheels/wheel.urdf.xacro" />
    <xacro:include filename="$(find twike_description)/urdf/components/wheels/steering_wheel.urdf.xacro" />
    <xacro:include filename="$(find twike_description)/urdf/components/plugins/control.urdf.xacro" />
    <xacro:include filename="$(find twike_description)/urdf/components/plugins/transmission.urdf.xacro" />
    <xacro:include filename="$(find twike_description)/urdf/components/plugins/gz_control.urdf.xacro" />
    <xacro:include filename="$(find twike_description)/urdf/components/sensors/lidar.urdf.xacro" />
    <xacro:base />

    <xacro:steering_wheel prefix="front" parent="base_link">
        <origin xyz="0.15 0 0.05" rpy="0 0 0"/>
    </xacro:steering_wheel>

    <xacro:wheel prefix="front" parent="front_steering_wheel_link">
        <origin xyz="0.1 0 -0.15" rpy="0 0 0"/>
    </xacro:wheel>

    <xacro:wheel prefix="rear_left" parent="base_link">
        <origin xyz="-0.15 -0.2 -0.1" rpy="0 0 0"/>
    </xacro:wheel>

    <xacro:wheel prefix="rear_right" parent="base_link">
        <origin xyz="-0.15 0.2 -0.1" rpy="0 0 0"/>
    </xacro:wheel>

    <xacro:control>
        <transmissions>
            <xacro:transmission joint="front_steering_wheel_joint"/>
            <xacro:transmission joint="rear_left_wheel_joint"/>
            <xacro:transmission joint="rear_right_wheel_joint"/>
        </transmissions>
    </xacro:control>

    <xacro:gz_control namespace="$(arg robot_namespace)"/>

    <xacro:lidar prefix="lidar" parent="base_link" ns="$(arg robot_namespace)">
        <origin xyz="0.25 0.0 0.05" rpy="0.0 0.0 0.0"/>
    </xacro:lidar>
    
</robot>