<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ============================= -->
  <!--      GZ_LIDAR YANDEX ROVER    -->
  <!-- ============================= -->
  
	<xacro:macro name="gz_lidar" params="prefix">

		<gazebo reference="${prefix}_link">
			<sensor name='${prefix}' type='gpu_lidar'>
				<gz_frame_id>${prefix}_link</gz_frame_id>
				<topic>/scan</topic>
				<update_rate>10</update_rate>
				<lidar>
					<scan>
						<horizontal>
							<samples>360</samples>
							<resolution>1</resolution>
							<min_angle>-3.14159</min_angle>
							<max_angle>3.14159</max_angle>
						</horizontal>
						<vertical>
							<samples>1</samples>
							<resolution>0.1</resolution>
							<min_angle>0.</min_angle>
							<max_angle>0.</max_angle>
						</vertical>
					</scan>
					<range>
						<min>0.08</min>
						<max>10.0</max>
						<resolution>0.01</resolution>
					</range>
					<noise>
						<type>gaussian</type>
						<mean>0.0</mean>
						<stddev>0.01</stddev>
					</noise>
				</lidar>
				<alwaysOn>1</alwaysOn>
				<visualize>0</visualize>
			</sensor>
			<visual>
				<material> <!-- Black -->
					<ambient>0.1 0.1 0.1 1.0</ambient>
					<diffuse>0.1 0.1 0.1 1.0</diffuse>
					<specular>0.0 0.0 0.0 1.0</specular>
					<emissive>0.0 0.0 0.0 1.0</emissive>
				</material>
    		</visual>
		</gazebo>

	</xacro:macro>

</robot>