<?xml version="1.0"?>
  <!-- ============================= -->
  <!-- TRANSMISSiON OF YANDEX ROVER  -->
  <!-- ============================= -->

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="transmission" params="joint">

        <joint name="${joint}">
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <!-- <command_interface name="position">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface> -->
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
    </xacro:macro>
</robot>
