<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:macro name="control" params="**transmissions">
        <ros2_control name="GazeboSimSystem" type="system">

            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>

            <xacro:insert_block name="transmissions"/>

        </ros2_control>
    </xacro:macro>
</robot>