<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="gz_control" params="namespace">

		<gazebo>
			<plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
				<parameters>$(find twike_control)/config/controllers.yaml</parameters>

				<ros>
					<namespace>${namespace}</namespace>
					<remapping>tf:=${namespace}/tf</remapping>
					<remapping>tf_static:=${namespace}/tf_static</remapping>
					<remapping>tricycle_steering_controller/odometry:=odom</remapping>
          			<remapping>tricycle_steering_controller/tf_odometry:=tf</remapping>
				</ros>
			</plugin>
		</gazebo>
		
	</xacro:macro>

</robot>